.pokemonTitle{
    font-size: 12px;
}
.pokemon-card{
    background-color: whitesmoke;
    transition: background-color 0.5s;
}
.pokemon-card:hover{
    background-color: white;
    cursor: pointer;
}
a{
    color: grey;
}
a:hover{
    outline: none;
    text-decoration: none;
}