<div class="row">
    <div class="col-md-6 m-auto text-center bg-pattern about">
        <div class="row">
            <div class="col-md-12">
                <h1>Pokedex</h1>
                <p>made by using pokeapi.co for Allegro intership program 16/4/2020.</p>
            <br><p>This project is a Pokedex with 2 main features (searching pokemon</p>
            <br><p>by category and picking one pokemones details). I had nice time</p>
            <br><p>with making this website and I learned a bit more about using </p>
            <br><p>foreign API. Before I used mostly my own created by SpringBoot</p>
            <br><p>API's. Whole project is available in<a href="https://github.com/przemyslawLupak/Pokedex" target="_blank"> my github repository</a></p>
            </div>
        </div>
    </div>
</div>
