<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 size text-center mt-5"><a target="_blank" href="https://www.facebook.com/dwuzetka?ref=bookmarks"><i class="fab fa-facebook-square size-font"></i></a> 
        <div type="" class=" size-font mail" data-toggle="tooltip" data-placement="top" title="przemyslaw.lupak@gmail.com">
         <a href=""><i class="fas fa-envelope"></i></a>   
        </div> 
        <a href="https://www.linkedin.com/in/przemysław-łupak-8467ab1a0/" target="_blank"><i class="fab fa-linkedin size-font"></i></a></div>
    
    <div class="col-md-2"></div>
</div>