.pokemon-card{
    background-color: whitesmoke;
    transition: background-color 0.5s;
}
.pokemon-card:hover{
    background-color: white;
    cursor: pointer;
}
a{
    color: grey;
}
.pointer{
    cursor: pointer;
}
a:hover{
    outline: none;
    text-decoration: none;
}
*{
    font-family:'Baloo Tamma 2' ;

}