<head>
  <title>Pokedex</title>
</head>
<div class="wrapper bg-pattern ">
  <!-- Navigation -->
<div class="content px-0 mx-0">
  <nav class="  navbar navbar-expand-lg navbar-light bg-light fixed-top" >
    <div class="container"> 
        <div class="collapse navbar-collapse" id="navbarResponsive">
    
    <ul class="navbar-nav m-auto ">
      <li class="nav-item mt-3">
        <a class="nav-link font-style"  routerLink="/about">About</a>
      </li>
    </ul>
  </div>
      <a class="navbar-brand font-style" routerLink="pokemones">Pokedex</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
      
        <ul class="navbar-nav m-auto">
          <li class="nav-item mt-3">
            <a class="nav-link font-style"  routerLink="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br/>
  <!-- Page Content -->
  <div class="container  ">
  
   <router-outlet></router-outlet>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->
</div>

<!-- Footer -->
<footer class="py-5 footer " style="width: 100%; text-align: center;" >
  <div class="container  ">
    <p class="m-0 text-center text-dark">pokedex</p>
  </div>
  <!-- /.container -->
</footer>



</div>